* {
  margin: 0%;
  padding: 0%;
}
  /* .navbar{
    background-color: rgba(0, 0, 0, .85)
  } */
  .site-header {
    background-color: rgb(1 1 1) !important;
    /* -webkit-backdrop-filter: saturate(180%) blur(20px);   */
  }
  .site-header a {
    color: #b2b2b2;
    transition: color .15s ease-in-out;
    text-decoration: none;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }

  .logo{
    height: 50px;
  }

  .nav-link{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
  }

  .mx-lg-5 {
    margin-right: 0rem!important;
    margin-left: 11rem!important;
  }

  .container-xl, .container-xxl {
    max-width: 1679px;
}