* {
    margin: 0%;
    padding: 0%;
    font-family: Montserrat, sans-serif;
  }

/* Navbar */
#logo{
  display: none;
}
/* banner */

#img_banner{
    width: 40%;
}
.m-md-3 {
    margin: 0rem!important;
    background-color: #ffffff !important;
    padding: 0% !important;
    filter: brightness(0.7);
}

#particles-js{
    background-image: url("../img/index.png");
    background-size: 36% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 2%;
}

/* Contenido */

  #content{
    padding-top: 60px;
  }

  .lh-1{
    padding-top: 30px;
  }
  .lead{
    padding-bottom: 30px ;
  }
  
  .featurette-divider {
    margin: 5rem 0; 
  }  
  
  .text-justify{

    text-align: justify; 
    text-justify: inter-word;
  }
  
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  .img_cuerpo{
    padding-top: 35px;
    padding-bottom: 35px;
    height: 340px;
    width: 500px;
  }

  /* footer */
  
  .footer{
    padding: 3%!important; 
  }


  @media (max-width: 1600px) {
  
    #particles-js {
      background-image: url(../img/index.png);
      background-size: 28% 70%;
      background-repeat: no-repeat;
      background-position: top;
      padding-bottom: 10%;
    }
    .div-banner{
      height: 670px;
    }
  }  

@media (max-width:440px) {
  
  #particles-js {
    background-image: url(../img/index.png);
    background-size: 77% 65%;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 145%;
    
  }
  .lead {
    font-size: 1.00rem;
    
}

}