* {
    margin: 0%;
    padding: 0%;
    font-family: Montserrat, sans-serif;
  }

#img_banner{
    width: 40%;
}
.m-md-3 {
    margin: 0rem!important;
    background-color: #ffffff !important;
    padding: 0% !important;
    filter: brightness(0.7);
}

#particles-js{
    background-image: url("../img/image\ \(1\).png");
    background-size: 36% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 2%;
    
}

#content{
  padding-top: 60px;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  .lh-1{
    padding-top: 30px;
  }
  .lead{
    padding-bottom: 30px ;
  }
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  .img_cuerpo{
    padding-top: 70px;
    height: 340px;
    width: 500px;
  }
  /* .marketing{
    padding-bottom:70px ;
  } */

@media (max-width:440px) {
  
  #particles-js {
    background-image: url(../img/image\ \(1\).png);
    background-size: 77% 65%;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 145%;
  }
}