* {
    margin: 0%;
    padding: 0%;
    font-family: Montserrat, sans-serif;
}

/* banner */

section .banner-box {
    width: 100%;
    height: 490px;
    position: relative;
    display: inline-block;
    text-align: center;
    
  }
  section .banner-box img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  section .banner-box .text_img {
    color: #ccc !important;
    text-shadow: 1px 1px 4px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* contenido */

  .banner-box{
    margin-bottom: 3%;
  } 
  .m-md-3 {
    margin: 0rem!important;
    background-color: #ffffff !important;
    padding: 0% !important;
    filter: brightness(0.7);
  }
  #header {
    position: relative;
    z-index: 10;
    width: 100%;
  }
  .text-muted { 
    color: #000000!important;
  }
  .lh-1{
    padding-top: 30px;
    }
  .lead{
    padding-bottom: 30px ;
  }
  .featurette-divider {
    margin: 1rem 0; 
  }
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  .text-justify{
    text-align: justify; 
    text-justify: inter-word;
  }
  #img_logo_1{
    width: 65%;
  }
  #img_logo_2{
    width: 100%;
    padding-top: 1%;
  }


  /* fila 3 */


  
  .logo_1 {
    width: 730px;
    height: 140px;
    padding-left: 50%;
  }
  .logo_2 {
    width: 825px;
    height: 126px;
    margin-top: 17px;
    padding-right: 46%;
  }
  /* footer */

  .footer{
    padding: 3%!important; 
  }

  footer{
    margin-top: 6%;
  }


  @media (max-width: 1600px) {
    
    .logo_1 {
      width: 700px;
      height: 137px;
      padding-left: 50%;
    }
    .logo_2 {
      width: 740px;
      height: 92px;
      margin-top: 48px;
      padding-right: 46%;
    }
    
  }  


@media (max-width: 440px) {
    .banner-box {
      background-position: 69%;
    }
    .banner-box{
        margin-bottom: 1%;
    }
    .py-4{
      padding-top: 1%!important;
    } 
    .lead {
        margin: 15px;
    }
    .logo_1 { 
      width: 350px;
      height: 170px;
      padding-left: 0%;
    }
    .logo_2 {
      width: 350px;
      height: 110px;
      padding-right: 0;
    }
    .row {
      --bs-gutter-x: 0; 
    }
    .clas_m{
      margin: 30px;
    }
}

