*{
    margin: 0%;
    padding: 0%;
    font-family: Montserrat, sans-serif;
} 
/* NavBar */

#header{
    position: absolute;
    z-index: 10;
    width: 100%;
}
.container-fluid{
    --bs-gutter-x: none;
}
.navbar{
    padding: 30px 0;
    background: rgba(0, 0, 0, 0.3);
}
.navbar-brand{
    font-size: 25px;
    text-transform: uppercase;
    color: #ccc ;
}
.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 50px;
}
.nav-link{
    color: #ccc;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 700;
}
.nav-link:hover{
    background: #dcdde1;
    color: #262626;
    border-radius: 5px;
    transition: all 0.6s ease 0s;
} 

/* Banner */


.main{
    position: relative;
    background: url(../img/banner01.jpg);
    min-height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 280px 0 220px;
}
.main h2{
    font-size: 2.6em;
    color: #a4a4a4;
    text-transform: uppercase;
    font-weight: bold;
}
.main p{
    margin-top: 1em;
    padding: 0;
    font-size: 18px;
    color: #44413f;
    padding-bottom: 25px; 
}
.main .readMore{
    background: #718093;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
} 

/* Footer */

.icon_foot{
    width: 32px;
    height: 30px;
} 