*{
    margin: 0%;
    padding: 0%;
    font-family: Montserrat, sans-serif;
}

@import "navbar_index";
@import "footer";

.main{
    position: relative;
    background: url(../img/banner01.jpg);
    min-height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 280px 0 220px;
    .container{
        .row{
            h2{
                font-size: 2.6em;
                color: #a4a4a4;
                text-transform: uppercase;
                font-weight: bold;
            }
            p{
                margin-top: 1em;
                padding: 0;
                font-size: 18px;
                color: #44413f;
                padding-bottom: 25px; 
            }
            .readMore{
                background: #718093;
                color: #fff;
                border-radius: 5px;
                padding: 10px 20px;
                text-decoration: none;
            }
        }
    }
}