/* Mixing */
@mixin reset {
    margin: 0%;
    padding: 0%;
    border: 0;
    font-family: Montserrat, sans-serif;
}
@mixin paddings-info-personal {
    padding-top: 30px;
    padding-bottom: 30px;
}
@mixin margin-btn {
    margin-bottom: 30px;
    margin-top: 20px;
}

/* Imports */
@import "navbar";
@import "footer";

*{
    @include reset();
}

section{
    .banner-box{
        width: 100%;
        height: 490px;
        position: relative;
        display: inline-block;
        text-align: center;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .text_img{
            color: #ccc;
            text-shadow: 1px 1px 4px #000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.py-5{
    .row{
        .col-lg-6{
            .fw-light{
                padding-bottom: 30px;
            }
        }
    }
}

.container_cont{
    padding-bottom: 5%;
    .row{
        --bs-gutter-x: 0;
        .col-lg-4{
            text-align: center;
            img{
                width: 204px;
                height: 200px;
            }
            .fw-normal{
                @include paddings-info-personal();
            }
            p{
                padding: 0 20px;
            }
            .btn{
                @include margin-btn();
            }
        }
    }
}