/* Mixing */
@mixin reset {
    margin: 0%;
    padding: 0%;
    border: 0;
    font-family: Montserrat, sans-serif;
}
/* Imports */
@import "navbar";
@import 'footer';

*{
    @include reset();
}

section{
    .banner-box{
        width: 100%;
        img{
            width: 100%;
        }
    }
}
